/**
* @name Tokyo Ghoul
* @version 1
* @description Tokyo Ghoul is set in an alternate reality in which ghouls, monsters that resemble humans but can only survive by devouring human flesh, live in seclusion among the human population, concealing their true nature in order to avoid detection by authorities. This theme is compatible with Better Discord
* @author discordthemes
* @website discordthemes.io
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
:root {
--themeColor1: #C7C4EDFF;
--themeColor2: #C7C4EDFF;
--customFont: 'Open Sans';
--homeImage: url('https://i.imgur.com/q9oLVAz.png');
--homeImageSize: cover;
--backgroundColor: #0d0d0d;
--backgroundImage: url('https://i.imgur.com/0vRlPT5.jpg');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.3;
}