/**
* @name Firewatch Orange
* @version 1
* @description An orange theme from the game Firewatch, which has high quality graphics and is often used for wallpapers by many people. For more colours palettes of this type of wallpaper, check our website discordthemes.io 
* @author discordthemes
* @website discordthemes.io
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
:root {
--themeColor1: #DC834CFF;
--themeColor2: #DC834CFF;
--customFont: 'Open Sans';
--homeImage: url('https://i.imgur.com/q9oLVAz.png');
--homeImageSize: cover;
--backgroundColor: #030101FF;
--backgroundImage: url('https://i.imgur.com/doUmQnv.jpg');
--backgroundPosition: left;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.45;
}