/**
* @name Marvel
* @version 1
* @description This Marvel Discord theme contains the shadows of all of the popular superheroes, from Bucky to Iron Man. This theme is compatible with Better Discord
* @author discordthemes
* @website discordthemes.io
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
:root {
--themeColor1: #DC311FFF;
--themeColor2: #DC311FFF;
--customFont: 'Open Sans';
--homeImage: url('https://i.imgur.com/q9oLVAz.png');
--homeImageSize: cover;
--backgroundColor: #0d0d0d;
--backgroundImage: url('https://i.imgur.com/FJy7CF3.jpg');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.5;
}