/**
* @name Gravity Falls
* @version 1
* @description This Gravity Falls discord theme has a high quality image from the theme of the show, presenting a river and cliff flowing in the town in Oregon. This theme is compatible with Better Discord
* @author discordthemes
* @website discordthemes.io
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
:root {
--themeColor1: #21DCB5FF;
--themeColor2: #21DCB5FF;
--customFont: 'Open Sans';
--homeImage: url('https://i.imgur.com/q9oLVAz.png');
--homeImageSize: cover;
--backgroundColor: #0d0d0d;
--backgroundImage: url('https://i.imgur.com/YLn30h8.jpg');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.45;
}