/**
* @name Space
* @version 1
* @description A beautiful Better Discord theme overlooking a planet from outer space. This theme is compatible with Better Discord.
* @author discordthemes
* @website discordthemes.io
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
:root {
--themeColor1: #A2A2A2FF;
--themeColor2: #A2A2A2FF;
--customFont: 'Open Sans';
--homeImage: url('https://i.imgur.com/q9oLVAz.png');
--homeImageSize: cover;
--backgroundColor: #0d0d0d;
--backgroundImage: url('https://i.imgur.com/9YAV8er.jpg');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: no-repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 0.5;
}